body{
    background: #09161D;
    margin: 24px;
}

.timer{
    font-family: Rubik;
    display: inline-block;
    padding: 24px 32px;
    border-radius: 30px;
    background: rgb(255, 206, 115);
}

.timer__part{
    font-size: 36px;
    font-weight: bold;
}

.timer__btn{
    width: 50px;
    height: 50px;
    margin-left: 16px;
    border-radius: 50%;
    border: none;
    color: white;
    background: black;
    cursor: pointer;
}

.timer__btn--start{
    background: rgb(71, 114, 255);
}

.timer__btn--stop{
    background: black;
}